---
layout: default
---

<!--Project page Main start-->   

<main>
    <div class="page-projects">

      <!-- Project description -->
      <div class="project-description">
          <h3>Hin und Zurück</h3>
          <p>April 2018</p>
          <p>Opera by Paul Hindemith</p>
          <p>Director: Morten K. Roesen</p>
          <span id="span-read"></span>
          <button onclick="myFunction()" id="myBtn">Read more</button>
          <div id="more">
            <p>Conducter: Anthony Armore / Set and costumes design: Zlatna Mihaylova / Choreographer: Romina Slavova</p>
            <p>Singers and ballet: Stara Zagora State Opera</p>
          </div>
      </div>
    
      <div class="slideshow-container">
        <!-- Images for slideshow -->
        <div class="slides fade">
          <img src="/img/H und Z/DSC09828ff.jpg" class="slides-img" alt="img">
        </div>
      
        <div class="slides fade">
          <img src="/img/H und Z/IMG_7552-ed.JPG" class="slides-img" alt="img">
        </div>
      
        <div class="slides fade">
          <img src="/img/H und Z/IMG_7555-ed.JPG" class="slides-img" alt="img">
        </div>

        
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- The dots -->
        <div class="dots">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
      </div>
      <br>
       
      <!--prev, back to and next-->
      <div class="back-to">
        <div class="prev-back-to">
            <a href="/html-pages/Lion.html">prev</a>
        </div>
        <div class="middle-back-to-main">
            <a href="/html-pages/index.html">• back to Main</a>
        </div>
        <div class="middle-back-to-projects">
            <a href="/html-pages/projects.html">•••back to Projects •</a>
        </div>
        <div class="next-back-to">
            <a href="/html-pages/Sieben.html">next</a>
        </div>
    </div>
    </div>
</main>    

<!--Project page Main end-->   

{% include carousel.js %}

{% include read-button.js %}
